<div class="container">
  <h1>User Roles Management</h1>
  <div class="row align-items-end">
    <div class="col">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          id="search"
          placeholder="search"
          [(ngModel)]="searchInput"
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="role-status">Role status</label>
        <select class="form-control" id="role-status" [(ngModel)]="statusInput">
          <option [ngValue]="false">Active</option>
          <option [ngValue]="true">Inactive</option>
          <option [ngValue]="''">Active and Inactive</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <button class="btn btn-primary">Create new role</button>
      </div>
    </div>
  </div>
  <div class="roles-container">
    <app-user-role-item *ngFor="let role of userRoles | search : 'name' : searchInput | filter : 'inactive' : statusInput" [item]="role"></app-user-role-item>
  </div>
</div>